@font-face {
  font-family: 'Minecraftfont';
  src: url(font/minecraftfont.ttf);
}

html,
body {
  font-family: 'Minecraftfont';
  width: 100%;
  font-size: 16px;
  background-color: #f7feff;
}

html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 0 140px;
}

.section {
  margin: 40px 0;
}

.section-top {
  margin-top: 0;
}

.section-bottom {
  margin-bottom: -6px;
}

img {
  width: 100%;
  height: auto;
}

.header {
  width: 100%;
  display: block;
  background-image: url('img/bright_squares_2x.png');
  text-align: center;
  padding: 40px 0;
  border-bottom: 6px solid #c8f5ff;
  position: relative;
}

footer:after,
.header:after {
  content: '';
  position: absolute;
  background-color: #6ad1ff;
  opacity: .5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.banner img {
  width: 60%;
}

.menu {
  width: 100%;
  text-align: center;
}

.menu_link {
  color: black;
  font-size: 24px;
  display: block;
  padding: 17px 0;
  text-decoration: none;
  background-color: #e3fcff;
  border: 6px solid #c8f5ff;
  margin-top: -6px;
  margin-left: -9px;
  transition: .2s;
  width: 83px;
  height: 80px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.menu_link:hover,
.menu_link:focus {
  text-decoration: none;
  background-color: #b4e5fb;
}

.menu_links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}

.menu_links li {
  display: inline-block;
}

.normal:hover,
.normal:focus {
  background: forestGreen;
  color: white;
  border: 6px solid white;
}

.cave:hover,
.cave:focus {
  background: fireBrick;
}

.coming {
  padding-top: 40px; 
  color: white;
  text-align: center;
  font-size: 42px;
}

.slider {
  width: 70%;
  margin: 0 auto;
}

.slider ul, li {
  padding: 0;
  margin: 0;
}

.slick-slider {
  width: 100%;
  margin: 0;
  padding: 0;
}

.slick-slider li {
  border: 6px solid #c8f5ff;
}

.slick-prev:before, 
.slick-next:before {
  color: #6ab3d7;
}

.infoBar {
  color: black;
  text-align: center;
}

.infoBar_content {
  display: inline-block;
  background-color: #e3fcff;
  border: 6px solid #c8f5ff;
  padding: 16px;
}

.infoBar-front .infoBar_content {
  display: block;
  max-width: 420px;
  margin: 0 auto;
}

.omgserv_img {
  width: 420px;border: 6px solid #c8f5ff;
  margin-top: -6px;
}

.infoBar_links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}

.infoBar_links li {
  display: inline-block;
  margin-left: -9px;
}

.infoBar_link {
  color: black;
  font-size: 20px;
  display: block;
  padding: 20px 30px;
  text-decoration: none;
  background-color: #fff;
  border: 6px solid #c8f5ff;
  transition: .2s;
  opacity: 1;
  width: 83px;
  height: 80px;
  background-size: cover;
  background-position: center;
}

.infoBar_link:hover,
.infoBar_link:focus {
  text-decoration: none;
  
}

#btn_day {
  background-image: url('img/sun.png');
  
}

#btn_night {
  background-image: url('img/moon.png');
}

#btn_nether {
  background-image: url('img/ghast.png');
}

#btn_nether:hover,
#btn_nether:focus {
  background-image: url('img/ghast_open.png');
}

#btn_end {
  background-image: url('img/dragon.png');
}

.members {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
  color: white;
}

.members_col {
  float: left;
  width: 33%;
  text-align: center;
}

.members_content {
  margin: 0 16px;
  border: 6px solid #c8f5ff;
}

.members_member {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  padding-bottom: 100%;
  text-decoration: none;
  color: transparent;
  position: relative;
  transition: .2s;
  
}

.members_member:hover,
.member_member:focus {
  outline: none;
  text-decoration: none;
  color: white;
}

.members_member:before {
  position: absolute;
  content: 'Klorella';
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  font-size: 1.7vw;
  padding-top: 40%;
  transition: .2s;
}

#member-2:before {
  content: 'saralym';
}

#member-3:before {
  content: 'oldestcharm';
}

.members_member:hover:before {
  background-color: rgba(0,0,0,0.5);
}

.halfCol {
  width: 60%;
  margin: 0 auto;
}

.halfCol_left {
  float: left;
  width: 100%;
}

.halfCol_right {
  float: left;
  width: 100%;
  margin-top: 40px;
  padding-left: 0;
}

.halfCol_content {
  border: 6px solid #c8f5ff;
  background-color: #e3fcff;
  padding: 16px;
}

.halfCol h2 {
  font-size: 2vw;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-image: url('img/bright_squares_2x.png');
  border-top: 6px solid #c8f5ff;
}

.footer_content {
  width: 60%;
  margin: 0 auto;
  color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.footer_text {
  float: left;
  width: 50%;
  padding: 36px 0;
}

.footer_text-right {
  text-align: right;
}

.banana {
  position: absolute;
  width: 50px;
  height: auto;
  top: 25px;
}

.mapFrame {
  width: 60%;
  margin: 0 auto;
  height: 500px;
  border: 6px solid #c8f5ff;
}

.mapFrame iframe {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1000px) {
  .banner {
    width: 40%;
  }
  
  .halfCol_left {
    float: left;
    width: 35%;
  }

  .halfCol_right {
    float: left;
    width: 65%;
    margin-top: 0;
    padding-left: 40px;
  }
}