html,body {
  background: url('img/hexabump.png') repeat;
  box-sizing: border-box;
  font-family: 'Minecraftfont';
  height: 100%;
  width: 100%;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.header {
  width: 100%;
  display: block;
  background: url('img/footer_lodyas.png') repeat;
  text-align: center;
  padding: 40px 0;
}

.banner {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.menu {
  background: url('img/hexabump.png') repeat;
  width: 100%;
  text-align: center;
}

.menu_link {
  color: grey;
  font-size: 32px;
  display: block;
  padding: 20px 30px;
  text-decoration: none;
  background: white;
  border: 8px solid dimGray;
  margin: 20px;
  transition: .2s;
}

.menu_link:hover,
.menu_link:focus {
  text-decoration: none;
  background: dimGray;
  color: white;
  border: 8px solid white;
}

.menu ul {
  list-style: none;
  padding: 0;
  display: block;
  width: 100%;
}

.menu_links li {
  display: inline-block;
}

.normal:hover,
.normal:focus {
  background: forestGreen;
  color: white;
  border: 8px solid white;
}

.cave:hover,
.cave:focus {
  background: fireBrick;
}

.coming {
  padding-top: 40px; 
  color: white;
  text-align: center;
  font-size: 42px;
}

.slider ul, li {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1000px) {
  .banner {
    width: 40%;
  }
}

@font-face {
  font-family: 'Minecraftfont';
  src: url(font/minecraftfont.ttf);
}